.board {
  position: relative;
  top: 50px;
  display: grid;
  margin: auto;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 20px solid whitesmoke;
  width: 100vh;
  height: 100vh;
  box-shadow: 0 10px 20px 20px rgba(104, 65, 39, 0.956);
  animation: fade 2s forwards;
  font-size: 4.5vh;

  .squares {
    width: 100%;
    height: 100%;
  }

  .move {
    animation: firstMove 1s forwards;
    animation-delay: 5s;
  }

  .move2 {
    animation: secondMove 1s forwards;
    animation-delay: 7s;
  }

  :nth-child(n+1):nth-child(-n+8):nth-child(odd),
  :nth-child(n+9):nth-child(-n+16):nth-child(even), 
  :nth-child(n+17):nth-child(-n+24):nth-child(odd),
  :nth-child(n+25):nth-child(-n+32):nth-child(even),
  :nth-child(n+33):nth-child(-n+40):nth-child(odd), 
  :nth-child(n+41):nth-child(-n+48):nth-child(even),
  :nth-child(n+49):nth-child(-n+56):nth-child(odd),
  :nth-child(n+57):nth-child(-n+64):nth-child(even) {
    background-color: white;
  }
}

@media screen and (min-width: 320px) {
  .board {
    height: 70vh;
    position: relative;
    top: 40px;
    max-width: 100%;
    border: 20px solid whitesmoke;
  }
  
}